body{
	background-color: #E3E3E3;
}

.mycontainer{
	margin: 10px;
	width: auto;
	height: 550px;
	border-radius: 4px;
}
.submitBtn{
	text-align: right;
}
.chooseArea{
	width: 10%;
	height: 100%;
	float: left;
	padding: 10px;
	background: #F0F0F0;
	border: 4px solid #888888;
	word-wrap: break-word;
}
.prompt{
	text-align: center;
}
#curTable{
	width: 110px;
	margin-bottom: 5px;
}
.condition{
	margin-bottom: 5px;
}
.dataOperate{
	margin-top: 30px;
	margin-bottom: 20px;
}
.dataArea{
	margin-left: 11%;
	width: 89%;
	height: 100%;
	padding: 10px;
	overflow: scroll;
	background-color: #FFFFFF;
	border: 4px solid #888888;
	border-radius: 4px;
}
.error{
	color: red;
}